flows.json
[
    {
        "id": "967b608403e97767",
        "type": "ui_text",
        "z": "f257e0b9c8b589d5",
        "group": "26317973e1eb7f0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "5b1e35183fdb354c",
        "type": "ui_gauge",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "115f3c70e16ac33f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#909047",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "112ea1b69c98c517",
        "type": "ui_button",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "456bb6c6a41d11c7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 520,
        "wires": [
            [
                "2cb98ccbb6d93756"
            ]
        ]
    },
    {
        "id": "a3e1c0cf40150a9f",
        "type": "ui_button",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "456bb6c6a41d11c7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 600,
        "wires": [
            [
                "2cb98ccbb6d93756"
            ]
        ]
    },
    {
        "id": "ce13621d3e7c0a4e",
        "type": "mqtt in",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "topic": "device/event",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b7f987741049c70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "5b1e35183fdb354c",
                "967b608403e97767",
                "3a35eb1a585a61f8"
            ]
        ]
    },
    {
        "id": "2cb98ccbb6d93756",
        "type": "mqtt out",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "topic": "device/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b7f987741049c70",
        "x": 1260,
        "y": 520,
        "wires": []
    },
    {
        "id": "647acedd0a5688a8",
        "type": "mqtt in",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "topic": "test/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b7f987741049c70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "b02cfbc55fe6dddc",
                "db585b62bc69ffd0",
                "371023db86b8dc25"
            ]
        ]
    },
    {
        "id": "da61c2b35be97277",
        "type": "ui_button",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "456bb6c6a41d11c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 460,
        "wires": [
            [
                "2cb98ccbb6d93756"
            ]
        ]
    },
    {
        "id": "4d86920b141861fa",
        "type": "ui_button",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "456bb6c6a41d11c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "2cb98ccbb6d93756"
            ]
        ]
    },
    {
        "id": "b02cfbc55fe6dddc",
        "type": "ui_text",
        "z": "f257e0b9c8b589d5",
        "group": "26317973e1eb7f0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "741284f977fdc82f",
        "type": "ui_text",
        "z": "f257e0b9c8b589d5",
        "group": "26317973e1eb7f0f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "ecb397c6b348f6be",
        "type": "mqtt in",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "topic": "test/Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b7f987741049c70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "741284f977fdc82f",
                "6680d615461a2093",
                "9bcfe1173ae6d153"
            ]
        ]
    },
    {
        "id": "6680d615461a2093",
        "type": "ui_gauge",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "8efe1a51b0c5277c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "db585b62bc69ffd0",
        "type": "ui_gauge",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "c3732b2cb57be02c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "371023db86b8dc25",
        "type": "ui_chart",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "0d7ef83e83043ee8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9bcfe1173ae6d153",
        "type": "ui_chart",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "44572aa347052cb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3a35eb1a585a61f8",
        "type": "ui_chart",
        "z": "f257e0b9c8b589d5",
        "name": "",
        "group": "5f5b6d3780f701c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "26317973e1eb7f0f",
        "type": "ui_group",
        "name": "Distance and Light status",
        "tab": "100727c836881c9c",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "115f3c70e16ac33f",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "b1f5f3ecb018caa9",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "456bb6c6a41d11c7",
        "type": "ui_group",
        "name": "Remote",
        "tab": "79982b4f1ed3a8d2",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b7f987741049c70",
        "type": "mqtt-broker",
        "name": "mqt",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8efe1a51b0c5277c",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "8d45e7eef107cf44",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3732b2cb57be02c",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "79982b4f1ed3a8d2",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d7ef83e83043ee8",
        "type": "ui_group",
        "name": "Chart",
        "tab": "79982b4f1ed3a8d2",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "44572aa347052cb7",
        "type": "ui_group",
        "name": "Chart",
        "tab": "8d45e7eef107cf44",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f5b6d3780f701c9",
        "type": "ui_group",
        "name": "Chart",
        "tab": "b1f5f3ecb018caa9",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "100727c836881c9c",
        "type": "ui_tab",
        "name": "dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1f5f3ecb018caa9",
        "type": "ui_tab",
        "name": "Distance",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79982b4f1ed3a8d2",
        "type": "ui_tab",
        "name": "Light",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8d45e7eef107cf44",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]